@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;600;700&display=swap');
$color-black : #161211;
$color-dark-gray : #272727;
$color-white : #FDFCFC;
$color-gray : #F8F8F7;
$color-primary : #DDAC72;
$color-secondary : #DDAC72;
$main-font : 'Mitr', sans-serif;
$font-light : 400;
$font-semibold: 600;
$font-regular : 500;
$font-bold : 700;

