@import  '_constant';
@import '_header';
@import '_animation';
@import '_media';



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}

body{
    font-family: $monsterrat;
    font-weight: $font-regular;
}